.comment-index {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    li:not(:first-child) {
        padding-top: 10px;
    }


    li {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 14px;

        .like-comment-btn {
            flex: 100%;
            margin-left: 51px;
            font-size: 12px;
            font-weight: bold;
        }
        

        img {
            border-radius: 100%;
            height: 31px;
            width: 31px;
        }

        .comment-index-item-container {
            width: auto;
            max-width: 85%;
            background-color: rgba(240,242,245,255);
            border-radius: 18px;
            height: auto;
            font-size: 0.9375rem;
            font-weight: 400;
            position: relative;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 12px;
            margin-left: 7px;

            .comment-name a {
                font-size: 0.8125rem;
                font-weight: 600;
                color: black;
            }
        }
    }
}

.comment-menu-btn-icon {
    background: image-url('options-icon.png');
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: -25px;
    top: 35%;
    opacity: 55%;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 2;

}

.comment-menu-dropdown-list {
    position: absolute;
    width: 200px;
    right: -125px;
    top: 38px;
    border: 1px solid #cecccc;
    cursor: pointer;
    display: none;
    font-size: 13px;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    height: 35px;
    z-index: 1000;
    justify-content: center;
}

.comment-menu-dropdown-list li {
    display: flex;
    justify-content: center;
    border: none;
    width: 100%;
    border-radius: 8px;
    margin: 0;
}

.comment-menu-dropdown-list li:hover {
    background: #4267b2;
    color: white;
    border-radius: none;
}

.comment-menu-btn-icon:focus + .comment-menu-dropdown-list, .comment-menu-dropdown-list:hover {
    display: block;
}

.comment-pic-name-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}