.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
}
 
.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    width: 435px;
    height: 475px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.close-x {
    position: absolute;
    top: 10px;
    right: 7px;
}

.signup-intro {
    font-family: Arial, Helvetica, sans-serif;

    h2 {
        font-size: 32px;
        font-weight: 600;
    }

    p {

        margin-top: 10px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
    }

}

input{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(245,246,247,255);
    border: rgba(204,208,213,255) 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 395px;
    outline: none;
    margin-top: 20px;
    height: 40px;
    font-size: 15px;
}

.first-name-input {
    width: 194px;
    margin-top: 0px;
}

.last-name-input {
    width: 194px;
    margin-left: 7px;
    margin-top: 0px;
}


.session-submit {
    background-color: rgba(0,164,0,255);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px;
    width: 190px;
    height: 37px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 105px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.signup-border {
    border-top: 1px solid rgb(212, 212, 212);
    font-weight: 0;
    width: 110.3%;
    position: relative;
    top: 0px;
    right: 19px;
    margin-top: -7px;   
}


.signup-box {
    .signup-note {
        margin-bottom: -24px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(0, 0, 0, 0.7);
        font-size: 12px;
    }
}

.birthday-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: -18px;
}

.update-info-form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 5px;
    width: 435px;
    height: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

    h3 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
    }

    textarea {
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        resize: none;
    }

    input {
        margin-top: 0px;
        border-radius: 8px;
    }

    label:not(:first-child) {
        padding-top: 15px;
    }

    .close-x {
        cursor: pointer;
    }

    button {
        text-align: center;
        font-weight: 550;
        width: 100%;
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border-radius: 8px;
        background-color: rgba(228,230,235,255);
        border: none;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: rgba(216,218,223,255);
        cursor: pointer;
    }

}

