.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    z-index: 10;
    background-color: white;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

    .nav-bar-left {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        margin-left: 10px;

        img{
            padding-left: 20px;
            padding-top: 4px;
        }
    }

    .logo {
        height: 75px;
        width: 75px;
        padding-bottom: 20px;
    }

    .nav-bar-center {
        display: flex;
        justify-content: center;
        margin-right: 645px;
        margin-top: 3px;
        border-radius: 8px;
        width: 100px;
        height: 50px;
        
        img {
            padding-top: 10px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }

    .nav-bar-center:hover {
        background-color: rgba(228,230,235,0.6);
    }

    .nav-bar-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 300px;
        text-align: center;
        
        .dropdown-menu-closed {
            cursor: pointer;
            margin-right: 65px;
            margin-top: 18px;
            text-align: center;
            height: 15px;
            width: 15px;
            background-color: rgba(228,230,235,255);
            border-radius: 50%;
            padding: 10px;
        }

        .dropdown-menu-open {
            cursor: pointer;
        }
        

        p {
            font-family: Arial, Helvetica, sans-serif;
            padding-right: 20px;
            margin-top: 20px;
        }
        }
    }
