.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

    .nav-bar-left {
        display: flex;
        justify-content: flex-start;
        flex: 33%;
        margin-left: 10px;

        img{
            padding-left: 20px;
            padding-top: 4px;
        }

    }

    .logo {
        height: 75px;
        width: 75px;
        padding-bottom: 20px;
    }

    .nav-bar-center {
        display: flex;
        justify-content: center;
        flex: 33%;
        margin-top: 3px;
        border-radius: 8px;
        width: 100px;
        height: 50px;


        .home-image-container {
            display: flex;
            justify-content: center;

            border-radius: 8px;
            padding-bottom: 20px;
            width: 100px;
            height: 50px;
            
            img {
                padding-top: 10px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }

    }

    .home-image-container:hover {
        background-color: rgba(228,230,235,0.6);
    }

    .nav-bar-right {
        flex: 33%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;
        width: 300px;
        text-align: center;
        
        .dropdown-menu-closed {
            cursor: pointer;
            margin-right: 20px;
            margin-top: 10px;
            height: 35px;
            width: 35px;
            background-color: rgba(228,230,235,255);
            border-radius: 50%;
            
            img {
                height: 7px;
                width: 10px;
                position: relative;
                top: 8px;
                
                
            }
        }

        .dropdown-menu-open {
            margin-right: 20px;
            margin-top: 10px;
            height: 35px;
            width: 35px;
            background-color: rgba(231,243,255,255);
            border-radius: 50%;


            img {
                height: 7px;
                width: 10px;
                position: relative;
                top: 8px;
                cursor: pointer;
            }

            .dropdown-content {
                position: relative;
                top: 28px;
                right: 310px;
                width: 350px;
                height: 190px;
                background-color: white;
                font-family: Arial, Helvetica, sans-serif;
                border: 1.5px solid white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
                border-radius: 8px;

                

                .dropdown-pic-name {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-left: 3%;
                    margin-top: 2%;
                    margin-right: 3%;

                    p {
                        color: black;
                        font-weight: 600;
                        padding-left: 15px;
                        padding-top: 8px;
                        height: 30px;
                    }


                    img {
                        height: 65px;
                        width: 65px;
                        border-radius: 50%;
                        margin-bottom: 15px;
                        margin-left: 8px;
                    }
                }

                .dropdown-pic-name:hover {
                    background-color: lightgrey;
                    border-radius: 8px;
                }
                div + p {

                    color: grey;
                    font-weight: 200;
                    position: relative;
                    font-size: 14px;
                    margin-top: -40px;
                    margin-right: 43px;
                }
                .dropdown-border {
                    width: 93%;
                    border-bottom: 1.5px solid rgb(212, 212, 212);
                    position: relative;
                    padding-top: 30px;
                    margin-left: 14px;
                }
                
                .logout-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-left: 3%;
                    margin-top: 2%;
                    margin-right: 3%;
                    height: 80px;
                    align-items: center;
                    

                    .logout-image-container {
                        // background-color: lightblue;
                        // border-radius: 50%;
                        // display: flex;
                        // align-content: center;
                        .logout-image {
                            height: 30px;
                            width: 30px;
                            margin-bottom: 10px;
                        }
                    }



                    div {
                        padding-left: 20px;
                    }
                }

                .logout-container:hover {
                    background-color: lightgrey;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }

        .dropdown-menu-open:hover {
            background-color: rgba(156,193,238,255);
        }
        

        p {
            font-family: Arial, Helvetica, sans-serif;
            padding-right: 10px;
            margin-top: 14px;
            color: rgba(27,116,230,255);
            font-size: 16px;
            font-weight: bold;
        }

        .navbar-pic {
            border-radius: 100%;
            height: 30px;
            width: 30px;
            margin-right: 10px;
            margin-top: 8px;
        }

        .nav-profile-and-name {
            cursor: pointer;
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border: 1px solid white;
            background-color: rgba(231,243,255,255);
            border-radius: 15px;
            margin-right: 10px;
            height: 45px;
            margin-top: 5px;

        }

        .nav-profile-and-name:hover {
            cursor: pointer;
            background-color: rgba(156,193,238,255);
        }

        .nav-profile-photo {
            padding-left: 6px;
        }
        }
    }
